
  #fancytext {
    // for the score and move and time of specific player
    -fx-fill: #663333;
     -fx-font: italic bold 30px/50px Georgia, serif;
  
   
}

#btn{
  // for cancel and continue button
   -fx-background-color: 
      
       linear-gradient(to right, #c62828,#dd2c00,#e64a19,#ff7043);
   // -fx-pref-height: 10px;
    -fx-pref-width: 200px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: oldlace;
    -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
   
}

  Text  {
      // for you win! text
    -fx-font:  italic bold  70px/100px Georgia, serif;
    -fx-fill: linear-gradient(to right, #3e2723,#4e342e,#5d4037,#6d4c41,#795548,#8d6e63,#a1887f);

   // -fx-stroke:brown;
  //  -fx-stroke-width: 1;
    
}
#text {
// for the text in rank table
    -fx-font: italic bold  40px/60px Georgia, serif ;
    -fx-fill:   #3e2723;
    -fx-font-weight: bold;
    //-fx-stroke: black;
  
   //-fx-stroke-width: 1;
   
}
#for3 {
    // for the vbox includes (time&move&score)texts
   -fx-font:  40px  Serif, "Helvetica Neue", "Lucida Grande", fantasy  ;
    -fx-fill: darkblue;
    
    -fx-stroke: lightskyblue;
  
   -fx-stroke-width: 1;
   
}
#start {
    
    // for play button
   -fx-background-color: 
      
       linear-gradient(to right, #bc5a45,#bc5a45);
    -fx-pref-height: 15px;
    -fx-pref-width: 400px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: oldlace;
    -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
}

#label {
   
  // label to enter player name
    -fx-pref-width: 400px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
   
  //  -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
}
#pane{
    // for start_level pane
-fx-background-image: url("../Resources/Sokoban/name_back.jpg");
-fx-background-repeat: no-repeat;
-fx-background-size: 1500 800;
//-fx-background-position: center center;
//-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);All Files	
}
#menubutton {
    
   -fx-pref-height: 10 px;
    -fx-pref-width: 300px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
 
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
   
    -fx-text-font: italic bold  40px/20px Georgia, serif ;
    -fx-background-color:    black;
   
// -fx-padding:15px 20px;
 -fx-text-alignment: center;
 -fx-border-width: 4px; 
 -fx-border-color:   linear-gradient(to right, #3b064d,#8105d8,#ed0cef,#fe59d7);
 -fx-text-fill: #ffffff;
 -fx-border-radius: 30;
 //-fx-padding:1em 2em 0.9em 2em;
 
}

#menupane{
    // menu pane 
-fx-background-image: url("../Resources/Sokoban/unnamed.jpg");
-fx-background-repeat: no-repeat;
-fx-background-size: 1500 800;
//-fx-background-position: center center;
//-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);	
}


 