/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2020, 9:32:35 PM
    Author     : Eng.Waleed
*/

  #fancytext {
    // for the score and move and time of specific player
    -fx-fill: #663333;
     -fx-font: italic bold 30px/50px Georgia, serif;
  
   
}

#btn{
  // for cancel and continue button
   -fx-background-color: 
      
       linear-gradient(to right, #c62828,#dd2c00,#e64a19,#ff7043);
   // -fx-pref-height: 10px;
    -fx-pref-width: 200px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: oldlace;
    -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
   
}

  Text  {
      // for you win! text
    -fx-font:  italic bold  70px/100px Georgia, serif;
    -fx-fill: linear-gradient(to right, #3e2723,#4e342e,#5d4037,#6d4c41,#795548,#8d6e63,#a1887f);

   // -fx-stroke:brown;
  //  -fx-stroke-width: 1;
    
}
#text {
// for the text in rank table
    -fx-font: italic bold  40px/60px Georgia, serif ;
    -fx-fill:   #3e2723;
    -fx-font-weight: bold;
    //-fx-stroke: black;
  
   //-fx-stroke-width: 1;
   
}
#for3 {
    // for the vbox includes (time&move&score)texts
   -fx-font:  40px  Serif, "Helvetica Neue", "Lucida Grande", fantasy  ;
    -fx-fill: darkblue;
    
    -fx-stroke: lightskyblue;
  
   -fx-stroke-width: 1;
   
}
#start {
    
    // for play button
   -fx-background-color: 
      
       linear-gradient(to right, #bc5a45,#bc5a45);
    -fx-pref-height: 15px;
    -fx-pref-width: 400px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: oldlace;
    -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
}

#label {
   
  // label to enter player name
    -fx-pref-width: 400px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
   
  //  -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
}
#pane{
    // for start_level pane
-fx-background-image: url("../Resources/Sokoban/forstart.jpg");
-fx-background-repeat: repeat;
-fx-background-size: 685 375;
//-fx-background-position: center center;
//-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);All Files	C:\Game-Box\src\Resources\Sokoban\forstart.jpg
}
#welcome {
    
    // for start button in welcome scene
   -fx-background-color: 
      
       linear-gradient(to right,#2e7d32,#388e3c,#43a047,#66bb6a);
    -fx-pref-height: 25px;
    -fx-pref-width: 400px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: oldlace;
    -fx-font-weight: bold;
    -fx-font-size: 30 px;
    -fx-padding: 10 20 10 20;
}
#pan2{
  // for welcome pane  
    -fx-background-image: url("../Resources/Sokoban/back.png");
    
    -fx-background-size: 500 750;
    
}
 #title {
      // for welcome text
    -fx-font:  italic bold  150px/300px Georgia, serif;
    -fx-fill: linear-gradient(to right, #1b5e20,#2e7d32,#388e3c,#43a047,#4caf50,#66bb6a,#81c784);

   // -fx-stroke:brown;
  //  -fx-stroke-width: 1;
    
}